{% extends 'base.html' %} {% block content %}
<h1 class="position-absolute start-50 translate-middle">Subtitle Extractor</h1>
<form action="/api/upload/" method="post" enctype="multipart/form-data">
  <div
    class="input-group position-absolute top-50 start-50 translate-middle w-50"
    id="input-form"
  >
    {% csrf_token %}
    <input
      type="file"
      class="form-control"
      name="file"
      id="inputGroupFile04"
      aria-describedby="inputGroupFileAddon04"
      aria-label="Upload"
      accept="video/*"
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="inputGroupFileAddon04"
    >
      Upload
    </button>
  </div>
</form>
{% endblock %}
